<div class="container mat-elevation-z8">
    <h1 class="full-width">Detalhe da Publicação</h1>
   
    <form class="form">
       <mat-form-field class="full-width" appearance="outline">
         <mat-label>Título da publicação</mat-label>
         <input 
         [disabled]="true"
         [(ngModel)]="publicacao.justica"
         name="justica"
         class="justica"
         matInput>
       </mat-form-field>
    </form>
 
    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Termos</mat-label>
          <input 
          [disabled]="true"
          [(ngModel)]="publicacao.termos"
          name="termos"
          class="termos"
          matInput>
        </mat-form-field>
    </form>

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Estado</mat-label>
          <input 
          [disabled]="true"
          [(ngModel)]="publicacao.estado"
          name="estado"
          class="estado"
          matInput>
        </mat-form-field>
    </form>

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Diário</mat-label>
          <input 
          [disabled]="true"
          [(ngModel)]="publicacao.diario"
          name="diario"
          class="diario"
          matInput>
        </mat-form-field>
    </form>
 
    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Número do Processo</mat-label>
          <input 
          [disabled]="true"
          [(ngModel)]="publicacao.processo"
          name="processo"
          class="processo"
          matInput>
        </mat-form-field>
    </form>

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Data da Diário</mat-label>
          <input 
          [disabled]="true"
          [(ngModel)]="publicacao.dataDiario"
          name="dataDiario"
          class="dataDiario" 
          matInput>
        </mat-form-field>
    </form>

    <form class="form">  
       <mat-form-field class="full-width" appearance="outline">
         <mat-label>Texto</mat-label>
         <textarea 
         [disabled]="true"
         [(ngModel)]="publicacao.texto"
         name="texto"
         class="texto" 
         matInput 
         ></textarea>
       </mat-form-field>
    </form>
 
    <button (click)="onCancel()" 
        class="full-width mat-elevation-z4" 
        mat-stroked-button 
        color="warn">
        <mat-icon>arrow_back</mat-icon>
        Retornar
    </button>
    <p class="full-width"></p>
  </div>