.title {
   font-size: 1.5rem; /* Aumenta o tamanho do texto */
  
   color: #333; /* Ajusta a cor, se necessário */
  
   letter-spacing: 1px; /* Adiciona espaçamento entre as letras (opcional) */
   text-align: center; /* Centraliza o texto, se necessário */
}

 .spacer {
   flex: 1 1 auto;
 }
 

 .custom-toolbar{
   height: 50px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   background-color: #F0F4F3;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 100;
   display: flex;
   justify-content: flex-end; /* Alinha tudo à direita */
   padding-right: 16px; /* Adiciona um espaço à direita */
 }

 /* Responsividade */
@media (max-width: 1024px) {
  .custom-toolbar {
     font-size: 14px; /* Reduz o tamanho da fonte */
  }

  .title {
     font-size: 1.2rem; /* Reduz o tamanho do título */
  }

  .custom-toolbar button {
     font-size: 12px; /* Reduz o tamanho dos botões */
     gap: 2px; /* Menor espaçamento entre texto e ícone */
  }
}

@media (max-width: 768px) {
  .custom-toolbar {
     flex-direction: column; /* Empilha os elementos em telas pequenas */
     align-items: stretch; /* Expande os elementos para ocupar toda a largura */
  }

  .title {
     margin-bottom: 8px; /* Adiciona espaçamento abaixo do título */
     text-align: center;
  }

  .custom-toolbar button {
     justify-content: flex-start; /* Alinha texto e ícones à esquerda */
     padding: 8px 0; /* Ajusta o espaçamento interno dos botões */
  }
}

@media (max-width: 480px) {
  .custom-toolbar {
     font-size: 12px; /* Reduz o tamanho da fonte ainda mais */
  }

  .title {
     font-size: 1rem; /* Reduz o tamanho do título */
  }

  .custom-toolbar button {
     font-size: 11px; /* Ajusta o tamanho dos botões */
  }
}