<mat-card class="card mat-elevation-z8">
   <mat-card-header>
     <mat-card-title>Publicações</mat-card-title>
     <mat-card-subtitle></mat-card-subtitle>
   </mat-card-header>
   <!-- <img mat-card-image src="assets/img/pub-home-image.svg" alt="Image Home Publicações"> -->
   <mat-card-content>
  
    <div class="container">
        <div class="content-wrapper">
            <div class="content-block">
                <h3>Ganhe Tempo</h3>
                <p>Centralize o acesso a todas as suas publicações e intimações eletrônicas em um só lugar. Simplifique seu fluxo de trabalho e mantenha tudo sob controle com facilidade.</p>
            </div>
			<div class="content-block">
				<h3>Segurança</h3>
				<p>Contamos com um ambiente seguro e criptografado, garantindo que suas informações estejam sempre protegidas. Nosso sistema permite acesso multiusuário, com flexibilidade para cadastrar diversos e-mails, facilitando a gestão e monitoramento de publicações.</p>
			</div>
			<div class="content-block">
                <h3>Notificações por E-mail</h3>
                <p>Mantenha-se informado em tempo real com nossas notificações automáticas. Receba atualizações diárias diretamente no seu e-mail, assegurando que você esteja sempre à frente com as informações mais recentes.</p>
            </div>
			<div class="content-block">
                <h3>Rapidez na Informação</h3>
                <p>Acesse a plataforma com login e senha para realizar pesquisas e utilizar filtros avançados. Além disso, o sistema indica se uma publicação já foi lida, proporcionando mais agilidade e organização.</p>
            </div>
            <div class="content-block">
                <h3>Publicações e Intimações Centralizadas</h3>
				<p>Tenha em um único local todas as publicações de diários e intimações eletrônicas organizadas de forma eficiente. Nunca foi tão fácil e prático acompanhar suas notificações jurídicas e administrativas.</p>
			</div>
			<div class="content-block">
				<h3>Atendimento de Qualidade</h3>
				<p>Priorizamos o atendimento de qualidade, garantindo suporte contínuo e construção de relacionamentos sólidos com nossos clientes. Nossa equipe está sempre pronta para oferecer um suporte dedicado e personalizado.</p>
			</div>            
        </div>
    </div>
    
      <br /><br /> sistema
      <br /> ROH
     
   </mat-card-content>
 </mat-card>