.card {
   width: 90%;
   margin: 1rem auto;
   background-color: rgb(235, 235, 235);
}

img {
   height: 20rem;
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.container {
   background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(37,97,207,1) 0%, rgba(0,212,255,1) 100%);
   color: white;
   padding: 40px;
   text-align: center;
}

/* Estilos para a seção de conteúdo */
.content-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px;
   max-width: 1200px;
   margin: auto;
}

/* Estilos para os blocos de conteúdo */
.content-block {
   flex: 1 1 300px;
   max-width: 300px;
}

/* Estilos para os títulos */
.content-block h3 {
   font-size: 1.5em;
   color: #ffd700; /* Cor dourada para destacar os títulos */
}

/* Estilos para os parágrafos */
.content-block p {
   font-size: 1em;
   line-height: 1.6;
   color: #f0f0f0; /* Cor clara para melhor contraste */
}