<mat-card class="card mat-elevation-z8">
   <mat-card-header>
     <!-- <mat-card-title>Publicações</mat-card-title> -->
     <mat-card-subtitle></mat-card-subtitle>
   </mat-card-header>
   <!-- <img mat-card-image src="assets/img/pub-home-image.svg" alt="Image Home Publicações"> -->
   <mat-card-content>
  
    <div class="container">
        <div class="content-wrapper">
            <div class="content-block">
                <h3>Distribuição e Alocação Eficiente</h3>
                <p>Centralize a alocação de processos, classificações e repartição de demandas de forma eficiente. Simplifique o fluxo processual e garanta que cada processo seja encaminhado de maneira adequada.</p>
            </div>
            <div class="content-block">
                <h3>Ambiente Seguro e Protegido</h3>
                <p>Nosso sistema garante um ambiente seguro para a distribuição eletrônica de processos, mantendo a integridade e confidencialidade das informações com criptografia de ponta.</p>
            </div>
            <div class="content-block">
                <h3>Notificações em Tempo Real</h3>
                <p>Receba notificações automáticas sobre publicações de despachos, decisões e atos processuais, mantendo-se atualizado em tempo real e com total controle de suas publicações.</p>
            </div>
            <div class="content-block">
                <h3>Consulta Rápida e Eficiente</h3>
                <p>Acesse as publicações de decisões e sentenças de forma rápida e eficiente, com ferramentas de busca avançada e filtros que ajudam a otimizar seu tempo de consulta.</p>
            </div>
            <div class="content-block">
                <h3>Controle Total de Acesso</h3>
                <p>Com o sistema de controle de acesso, é possível monitorar e gerenciar os usuários, garantindo que apenas pessoas autorizadas tenham acesso às informações sensíveis sobre o processo.</p>
            </div>
            <div class="content-block">
                <h3>Suporte Personalizado</h3>
                <p>Priorizamos o atendimento eficiente, proporcionando suporte contínuo e um acompanhamento dedicado nas questões relacionadas à distribuição e publicação de processos.</p>
            </div>
        </div>
    </div>
    
      <br /><br /> sistema
      <br /> ROH
     
   </mat-card-content>
 </mat-card>