.title {
    height: 5vh;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #F0F4F3;
    letter-spacing: 1px;
    text-align: left;
    box-sizing: border-box;
}

.titlepwd{
   margin-top: 5rem;
}

.container {
    height: 90vh; 
    display: flex;
    justify-content: center;    
    background-color: white;   
}

.form-background-a {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 
.form-background-b {
    flex: 0.2; 
    margin-top: 5rem; 
 }
 
 .form {
    max-width: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}

 button {
    width: 100%;
    margin-top: 1.5rem;
    max-width: 25.0rem;
    max-height: 2.0rem;
 }
   
 /* Responsividade */
 @media (max-width: 768px) {
    .container {
       flex-direction: column;
    }
 
    .form {
       width: 90%; 
    }
 
    .image {
       height: auto;
       display: none;
    }
 }
 