<div class="title">
    <h1>L a w S c o p e</h1>
</div>
<div class="container">    
    <div *ngIf="!isValidateToken()" class="form-background-a"> 
      <h1 class="titlepwd">Sessão expirada. Solicite nova redefinição de senha na tela de Login.</h1>   
      <button *ngIf="!isValidateToken()" (click)="login()" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Login</button>
    </div>

    <div *ngIf="isValidateToken()" class="form-background-b">   
       <div class="form mat-elevation-z0">   
          
          <h1 *ngIf="!pwdUpdated">Redefina sua senha</h1>       
          <h1 *ngIf="pwdUpdated">Senha atualizada</h1>  

          <mat-form-field *ngIf="!pwdUpdated" class="full-width" appearance="outline">
             <mat-label>Senha</mat-label>
             <input       
             [formControl]="senha"
             required
             [(ngModel)]="creds.password" 
             name="senha" 
             type="password" 
             matInput 
             placeholder="Ex. 123"
             [disabled]="pwdUpdated">
             <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
 
          <mat-form-field *ngIf="!pwdUpdated" class="full-width" appearance="outline">
             <mat-label>Confirmar senha</mat-label>
             <input    
             [formControl]="confirmaSenha"
             required
             [(ngModel)]="creds.passwordMatch" 
             name="confirmaSenha" 
             type="password" 
             matInput 
             placeholder="Ex. 123"
             [disabled]="pwdUpdated">
             <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
          <p color="warn" *ngIf="pwdUpdated">Senha foi atualizada com sucesso clique no botão abaixo para fazer o Login.</p>
          <div>
             <button *ngIf="!pwdUpdated" (click)="resetPwd()" [disabled]="!validatefields()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Redefinir</button>
             <button *ngIf="pwdUpdated" (click)="login()" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Login</button>
         </div>                 
       </div>
    </div>
</div>
