.container {
   display: flex; /* Cria layout em duas colunas */
   height: 100vh; /* Altura total da tela */
   background-color: #F0F4F3;
   justify-content: center; /* Centraliza os itens horizontalmente */
}

.form-background {
   flex: 0.5; /* Ocupa 50% da largura */
   display: flex;
   justify-content: center; /* Centraliza o formulário */
   align-items: center; /* Alinha verticalmente no centro */
   padding: 2rem; /* Adiciona padding ao redor do formulário */
}

.form {
   max-width: 25rem; /* Define largura máxima */
   max-height: 25rem;
   width: 100%; /* Garante que o formulário ocupe toda a largura disponível */
   padding: 1rem 1rem;
   display: flex;
   flex-direction: column; /* Alinha os elementos verticalmente */
   gap: 1.0rem; /* Adiciona espaçamento entre os campos */
}

h1 {
   text-align: left;
}

button {
   width: 100%;
   margin-top: 1.5rem;
   max-width: 25.0rem;
   max-height: 2.0rem;
}

.txt-link-button{
   margin-top: 1.0rem;
}

/* Lado direito: Imagem */
.image {
   flex: 1.5; /* Ocupa 50% da largura */
   background-image: url('/assets/img/login-background.webp');
   background-size: initial; /* Faz a imagem cobrir toda a área */
   background-position: center; /* Centraliza a imagem */  
   height: 100vh; /* Garante que a imagem ocupe toda a altura da tela */
   overflow: hidden;
}

.image img {
   width: 100%;
   height: 100%;
   object-fit: inherit; /* Ajusta a imagem para preencher o espaço */
}

/* Responsividade */
@media (max-width: 768px) {
   .container {
      flex-direction: column; /* Empilha elementos em telas pequenas */
   }

   .form {
      width: 90%; /* Formulário ocupa quase toda a largura */
   }

   .image {
      height: auto; /* Ajusta a altura da imagem */
      display: none; /* Oculta a imagem em telas pequenas */
   }
}
