 .container {
   width: 95%;
   max-width: 1000px; /* Reduzir um pouco a largura máxima */
   margin-left: 0; /* Remover margem automática da esquerda */
   margin-right: auto; /* Manter margem automática na direita */
   padding: 1.5rem;
   background: #F0F4F3;
 }
 

  .form-grid {
   display: grid;   
   grid-template-columns: repeat(12, 1fr);
   gap: 1rem;
 }
 
 .processo-field { grid-column: span 4; padding-top: 1rem;}
 .idmateria-field { grid-column: span 3; padding-top: 1rem;}
 .idarquivo-field { grid-column: span 3; padding-top: 1rem;}
 .partes-field { grid-column: span 2; padding-top: 1rem;}
 
 .termos-field { grid-column: span 3; }
 .forum-field { grid-column: span 2; }
 .dataproc-field { grid-column: span 3; }
 .justica-field { grid-column: span 4; }
 
 .estado-field { grid-column: span 2; }
 .datadiario-field { grid-column: span 3; }
 .pagina-field { grid-column: span 2; } 
 .diario-field { grid-column: span 5; } 
 
 .texto-field { grid-column: 1 / -1; }  

.codigo, .idMateria, .idArquivo, .processo, .partes, .termos, .justica, .estado, .forum, .pagina, .diario, .dataProcessamento, .dataDiario, .texto {
   text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2); 
}
  
 .texto {
    min-height: 8rem;
    max-height: 8rem;   
    font-size: 0.775rem; /* Define o tamanho da fonte (14px, equivalente a 0.875rem) */
    line-height: 1.5;    /* Ajusta o espaçamento entre linhas para melhor legibilidade */
    overflow-y: auto;    /* Permite rolagem dentro do campo apenas */
 }
 
 button {
    margin-top: .2rem;
    width: 100%;
 }

.dialog-content-custom {
   max-height: 80vh; /* Limita a altura para evitar problemas de scroll */
   overflow-y: auto;
 }
 
 